<section class="bg-primary pt-5 pt-xl-9 pb-8">
  <div class="container">
      <div class="col-lg-7 col-xl-5 pt-lg-3 pb-5 mb-5 mb-lg-0">
        <h2 class="fs-8 text-white text-center text-lg-start fw-bolder ">
          Uncover the secrets of our revolutionary motivation technique,
          inspired by the legendary Robin Hood.
        </h2>
      </div>

  </div>
</section>
<section class="pb-8">
  <div class="container">
    <div class="card moneyback-guarantee mt-n11">
      <div class="card-body p-4">
        <div class="row align-items-center px-3">
          <div class="col-lg-9">
            <div
              class="d-flex align-items-center justify-content-center justify-content-lg-start mb-4 mb-lg-0 gap-4"
            >
     

              <i class="fs-10 ti ti-bow"></i>

              <div>
                <h3 class="fs-14 fw-semibold mb-1">Learn More</h3>
                <p class="mb-0 text-dark">
                  Follow these sequential guidelines to embark on a
                  transformative journey of motivation.
                </p>
              </div>
            </div>
          </div>
          <div class="col-lg-3">
            <div class="text-center text-lg-end">
              <a
                routerLink="/app/info/about"
                class="btn btn-primary download-link d-block d-lg-inline btn-hover-shadow"
                >About Us</a
              >
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
