/* You can add global styles to this file, and also import other style files */


.container-fluid {
    max-width: 81rem;
    padding: 1rem;
    margin: 0 auto;
}

@media screen and (max-width: 365px) {
    .container-fluid {
        padding: 0;
    }
}

.list-container {
    margin-top: 1rem;
    margin-bottom: 1rem;

    gap: 1rem;
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(auto-fill, minmax(min(14em, 100%), 1fr));
    grid-auto-rows: 35em;
  }
.pointer {
    cursor: pointer;
}
  
  