<div class="body-wrapper overflow-hidden container-fluid mb-5">
  <h1 class="text-header text-center pt-5">Robin Boook Terms of Use</h1>

  <h3>AGREEMENT TO TERMS</h3>
  <p>
    These Terms of Use ("Agreement") constitute a legally binding agreement
    between you and Robin Boook LLC ("Company") regarding your access to and use
    of the https://www.robinboook.com website and any related media, mobile
    website, or application (collectively, the "Site"). By accessing the Site,
    you acknowledge that you have read, understood, and agree to be bound by
    these Terms of Use. If you do not agree with any part of these terms, you
    are prohibited from using the Site and must immediately discontinue its use.
    Additional terms and documents that may be posted on the Site from time to
    time are hereby incorporated by reference into this Agreement. The Company
    reserves the right to modify these terms at any time without prior notice.
    It is your responsibility to review these terms periodically for any
    updates. Your continued use of the Site after any modifications will
    constitute your acceptance of the revised terms. The information on the Site
    is not intended for distribution or use in any jurisdiction where such
    distribution or use would be contrary to law or regulations or would require
    any registration. By accessing the Site from locations other than where the
    Company is based, you do so voluntarily and are responsible for compliance
    with any applicable local laws.
  </p>
  <h3>INTELLECTUAL PROPERTY RIGHTS</h3>
  <p>
    The Site, including all its source code, software, designs, text, videos,
    photos, graphics, and logos, is the property of the Company and is protected
    by copyright, trademark, and other intellectual property laws. Except as
    expressly permitted herein, you may only use the Site for personal and
    non-commercial purposes. The Company grants you a limited, non-exclusive,
    non-transferable license to access the Site and to download or print a
    portion of the content for personal use. All rights not expressly granted to
    you are reserved by the Company.
  </p>
  <h3>USER REPRESENTATIONS</h3>
  <p>
    By accessing the Site, you represent and warrant that: 1) All registration
    information you provide is true, accurate, current, and complete. 2) You
    will maintain the accuracy of such information and promptly update it as
    necessary. 3) You have the legal capacity and authority to enter into and
    comply with this Agreement. 4) You are not under the age of 13. 5) If you
    are a minor, you have obtained parental permission to use the Site. 6) You
    will not access the Site through automated or non-human means, such as bots
    or scripts. 7) You will not use the Site for any illegal or unauthorized
    purpose. 8) Your use of the Site will not violate any applicable law or
    regulation. If you provide any information that is untrue, inaccurate, not
    current, or incomplete, the Company has the right to suspend or terminate
    your account and refuse any and all current or future use of the Site (or
    any portion thereof).
  </p>
  <h3>USER REGISTRATION</h3>
  <p>
    User Registration Registration: In order to access and use the site, user
    registration may be required. By registering, you agree to provide accurate,
    current, and complete information as prompted by the registration form, and
    to maintain the confidentiality of your account login credentials, including
    your password. You are responsible for all activities that occur under your
    account. Username: The site reserves the right to modify or reject any
    username chosen by a user if it is deemed inappropriate, offensive, or
    objectionable. We may, at our discretion, alter, reclaim, or change the
    username without prior notice to the user.
  </p>

  <h3>PAYMENTS</h3>
  <p>
    Payments and Fees Accepted Payment Methods: We accept American Express,
    Discover, Mastercard, and Visa as forms of payment for services offered on
    the site. Content of Summaries: Certain services on the site may require a
    purchase or payment of a fee ("Content of Summaries"). By accessing such
    services, you agree to provide accurate and up-to-date payment and account
    information for all purchases made on the site. You further agree to
    promptly update your account information, including email, payment method,
    and card expiration date, to ensure accurate processing of transactions and
    to enable effective communication. Billing: We will bill you for purchases
    made on the site through an online billing account. The prices of purchases
    are subject to sales tax as required by applicable laws and regulations. We
    reserve the right to change prices at any time without prior notice. All
    payments shall be made in U.S. dollars. Payment Authorization: By making a
    purchase, you authorize us to charge your selected payment method for the
    total amount of charges and fees applicable to your purchase. You are
    responsible for ensuring sufficient funds are available and that the payment
    information provided is accurate. Pricing Errors and Order Declination: We
    strive to provide accurate pricing information, but in the event of a
    pricing error, we reserve the right to correct the error and offer you the
    option to proceed with the purchase at the corrected price or cancel the
    order. We also reserve the right to decline any orders placed through the
    site at our discretion. Please note that the above terms and conditions are
    provided for illustrative purposes only and may not cover all legal
    requirements or specific circumstances. It is advisable to consult with a
    qualified attorney to tailor the terms and conditions to your specific needs
    and ensure compliance with applicable laws and regulations.
  </p>
  <h3>REFUNDS</h3>
  <p>
    Payments made for our services are nonrefundable. We do not provide refunds
    or credits for partially used periods. However, we reserve the right, at our
    sole discretion, to provide refunds, discounts, or other considerations
    ("credits") to some or all of our members. The amount and form of such
    credits, as well as the decision to provide them, will be determined by us.
  </p>
  <h3>PROHIBITED ACTIVITIES</h3>
  <p>
    As a user of Robin Boook, you agree not to engage in the following
    prohibited activities: Modifying, adapting, or hacking the Site, or falsely
    implying association with the Site or its affiliates. Disrupting or
    interfering with the security of the Site, its systems, resources, accounts,
    passwords, servers, or networks, or causing harm to them in any way.
    Collecting or storing personal data about other users without their consent
    or in connection with any prohibited conduct or activities outlined in this
    policy. Accessing or attempting to access restricted areas of the Site, the
    Site's servers, or systems, or attempting to gain unauthorized access to
    other users' accounts. Using the Site for commercial purposes without
    obtaining prior permission or approval from us. Creating fake accounts,
    impersonating others, or transferring your profile without proper
    authorization. Participating in or promoting illegal activities. Using
    automated scripts or bots to access the Site without our permission.
    Violating any applicable laws, rules, or regulations while using the Site.
    Engaging in any commercial activities without obtaining express written
    consent from us. Spreading malware, viruses, or other malicious software
    that could harm the Site or its users, or engaging in any action that
    directly or indirectly interferes with the normal functioning of the Site,
    including overloading or flooding the Site with excessive data or requests.
    Infringing on the intellectual property rights of others, including patents,
    trademarks, trade secrets, copyrights, or proprietary rights. Using the Site
    for malicious or fraudulent purposes, such as phishing, identity theft, or
    spreading malware. Any violation of these prohibited activities may result
    in the termination of your access to the Site and may subject you to legal
    consequences. Please note that these terms and conditions are subject to
    change at any time, and it is your responsibility to review and comply with
    the most current version of these terms. If you have any questions or
    concerns regarding these terms of use, please contact us at [contact email].
    By using our Site, you acknowledge that you have read, understood, and
    agreed to these terms and conditions.
  </p>

  <h3>SITE MANAGEMENT</h3>
  <p>
    We reserve the right, but not the obligation, to: Monitor the Site for
    violations of these Terms of Use. Take appropriate legal action, at our sole
    discretion, against any individual who violates the law or these Terms of
    Use. This may include reporting such users to law enforcement authorities.
    Refuse, restrict access to, limit the availability of, or disable (to the
    extent technologically feasible) any of your Contributions or any portion
    thereof, at our sole discretion and without limitation. Remove from the Site
    or otherwise disable, at our sole discretion and without notice or
    liability, all files and content that are excessively large or burdensome to
    our systems. Manage the Site in a manner designed to protect our rights and
    property and to facilitate its proper functioning.
  </p>
  <h3>GOVERNING LAW</h3>
  <p>
    These Terms of Use and your use of the Site shall be governed by and
    interpreted in accordance with the laws of the State of Wyoming. They shall
    be deemed to have been made and fully executed within the State of Wyoming,
    regardless of its principles regarding conflicts of laws. Please note that
    this revised version should not be considered as legal advice, and it's
    advisable to consult with a qualified attorney to ensure that the terms and
    conditions meet your specific requirements and comply with applicable laws.
  </p>
</div>
