<section class="features-section py-5">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-6">
        <div class="text-center" data-aos="fade-up" data-aos-delay="600" data-aos-duration="1000">
          <small class="text-primary fw-bold mb-2 d-block fs-3">ALMOST COVERED EVERYTHING</small>
          <h2 class="fs-9 text-center mb-4 mb-lg-9 fw-bolder">Other Amazing Features & Flexibility Provided</h2>
        </div>
      </div>
    </div>
    <div class="row" >
      <div *ngFor="let feature of featureItems"  class="col-sm-6 col-md-4 col-lg-3" data-aos="fade-up" data-aos-delay="800" data-aos-duration="1000">
        <div class="text-center mb-5">
          <i class="d-block ti text-primary fs-10" ngClass="{{feature.icon}}"></i>
          <h5 class="fs-5 fw-semibold mt-8">{{feature.title}}</h5>
          <p class="mb-0 text-dark">{{feature.description}}</p>
        </div>
      </div>

    </div>
  </div>
</section>